@import url("https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  background-image: url(./assets/images/bg.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  height: 100vh;
  background-size: cover;
  position: relative;
}

body {
  background-color: black;
  font-family: "poppins";
}

.main .box {
  height: 100vh;
  width: 100%;
  opacity: 0.64;
  position: absolute;
  top: 0;
  background-color: black;
}

nav {
  max-width: 70vw;
  margin: auto;
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav img {
  width: 144px;
  color: red;
  position: relative;
  z-index: 10;
}

nav button {
  position: relative;
  z-index: 10;
}

.hero {
  height: calc(100% - 62px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  position: relative;
  font-family: "Martel Sans", sans-serif;
  padding: 0 20px;
}

.hero > :nth-child(1) {
  font-family: "Poppins";
  font-weight: bolder;
  font-size: 48px;
  text-align: center;
}
.hero > :nth-child(2) {
  font-family: "Poppins";
  font-weight: bolder;
  font-size: 48px;
  text-align: center;
}
.hero > :nth-child(3) {
  font-weight: 400;
  font-size: 20px;
  text-align: center;
}

.hero > :nth-child(4) {
  font-weight: 400;
  font-size: 18px;
  text-align: center;
}

.seperation {
  height: 5px;
  background-color: grey;
}

.btn {
  padding: 3px 8px;
  font-weight: 400;
  color: white;
  background-color: rgba(248, 243, 243, 0.021);
  border: 1px solid white;
  border-radius: 4px;
  cursor: pointer;
}

.btn-red {
  background-color: red;
  color: white;
  padding: 7px 24px;
  font-size: 20px;
  border-radius: 4px;
  font-weight: 400;
  border: 1px solid red;
}

.btn-red-sm {
  background-color: red;
  color: white;
  padding: 3px 8px;
  border: 1px solid white;
  border-radius: 4px;
  cursor: pointer;
}

.hero-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding-top: 20px;
}

.main input {
  padding: 7px 101px 8px 14px;
  color: white;
  font-weight: 400;
  font-size: 12px;
  border-radius: 4px;
  background-color: rgba(23, 23, 23, 0.7);
  border: 1px solid rgba(246, 238, 238, 0.5);
}

.first {
  display: flex;
  justify-content: center;
  max-width: 70vw;
  margin: auto;
  color: white;
  justify-content: center;
  align-items: center;
}

.secImg {
  position: relative;
}

.secImg img {
  width: 500px;
  position: relative;
  z-index: 10;
}

.secImg video {
  position: absolute;
  top: 122px;
  width: 405px;
  left: 66px;
}

.first > div {
  display: flex;
  flex-direction: column;
  padding: 50px 0;
}
.first > div > :nth-child(1) {
  font-size: 48px;
  font-family: "poppins";
  font-weight: bolder;
  display: block;
}

.first > div > :nth-child(2) {
  font-family: "poppins";
  font-size: 20px;
}

.faq {
  background-color: black;
  color: white;
  padding: 34px;
}

.faq h2 {
  text-align: center;
  font-family: "poppins";
  font-size: 48px;
}

.faqbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 24px;
  background-color: #2d2d2d;
  padding: 24px;
  max-width: 70vw;
  margin: 10px auto;
  cursor: pointer;
  transition: all 1s ease-out;
}

.faqbox:hover {
  background-color: #414141;
}

.faqtext {
  display: flex;
  justify-content: center;
  font-size: 18px;
  margin: 45px auto;
}

.hero-buttons input {
  padding: 7px 101px 18px 14px;
  color: white;
  font-weight: 400;
  font-size: 12px;
  border-radius: 4px;
  background-color: rgba(23, 23, 23, 0.7);
  border: 1px solid rgba(246, 238, 238, 0.5);
}

footer {
  color: white;
  max-width: 70vw;
  margin: auto;
  padding: 14px;
}

footer .question {
  padding: 32px 0;
}
.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  color: white;
}

.footer a {
  font-size: 14px;
  color: white;
}

.footer-item {
  display: flex;
  flex-direction: column;
  gap: 23px;
}

/* media query */

@media screen and (max-width: 900px) {
   
  nav{
    max-width: 90vw;
  }

  .first {
    flex-wrap: wrap;
  }

  .secImg img {
    width: 300px;
  }

  .secImg video {
    width: 236px;
    position: absolute;
    top: 92px;
    left: 39px;
  }

  .hero > :nth-child(1) {
    font-size: 32px;
  }

  .hero > :nth-child(2) {
    font-size: 18px;
  }

  .hero > :nth-child(3) {
    font-size: 18px;
  }
 
  .hero-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    padding-top: 20px;
  }

  .faq h2 {
    text-align: center;
    font-family: "poppins";
    font-size: 32px;
  }

  footer{
    max-width: 90vw;
  }
 
  .footer {

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
  }

  .footer-item{
    align-items: center;
  }
}
